extends ./layout.jade

block content

	img#pic(src=cv.profilePicture, alt='Photo of'+cv.name)
	#contact-info.vcard
		h1.fn=cv.name
		p
			| Cell:
			span.tel=cv.cell
			br
			| Email:
			a.email(href='mailto:'+cv.email)=cv.email
			#objective
		p
			cv.objective
			.clear
			dl
				each block in cv.blocks 
					dd.clear
					dt=block.headline
					each child in block.children
						dd
							h2=child.title
							strong=child.time
							br
							p=child.content
						dd.clear
